.main {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.table {
  border: 2px double var(--primary-color);
  background-color: var(--background-color);
}

th {
  border: 2px double var(--primary-color);
  color: var(--primary-color);
  font-family: var(--second-family);
  font-weight: 200;
  text-transform: uppercase;
  padding: 7px;
}

.input {
  width: 15em;
  height: 2em;
  padding: 12px;
  font-size: 16px;
}

.input:focus {
  border-color: var(--border-color);
  outline: none;
}

.input::placeholder {
  color: #aaa;
  font-style: italic;
}

.button_wrapper {
  display: flex;
  gap: 10px;
}

.buttonSave {
  background-color: var(--border-color);
  width: 9em;
  height: 2.4em;
  border: 2px solid var(--primary-color);
}
